@page
@using MGIProjectManagerServer.Core
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = SimpleLoc["ForgotPasswordConfomation_Text_Title"];
}
@inject SimpleLoc SimpleLoc

<h1>@ViewData["Title"]</h1>
<p>
    @SimpleLoc["ForgotPasswordConfomation_Text"]
</p>

