@page
@using MGIProjectManagerServer.Core
@model LogoutModel
@inject SimpleLoc SimpleLoc
@{
    ViewData["Title"] = SimpleLoc["Logout_Text_Title"];
}

@section Scripts
{
    <script>
        redictToHome();
    </script>
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>@SimpleLoc["Logout_Text"]</p>
</header>