@page
@model Tauron.Application.MgiProjectManager.Server.Areas.File.Pages.LinkingModel
@{
}

@section scripts
{
    <script>
        var operationId = '@Model.OperationId';

        FileLinking.initOperation(operationId);
    </script>
}

<div class="container">
    <div class="row align-content-center" id="loadingCircle">
        <div class="col-1 align-content-center">
            <div id="circle">
                <div class="loader">
                    <div class="loader">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="linkingErrorSpan" class="row">
        <div class="col">
            <span id="linkingErrorSpanContent" class="text-danger"></span>
        </div>
    </div>
</div>
