@page "/"

<BSContainer IsFluid="true"> 
    <BSRow>
        <BSCol/>
        <BSCol>
            <h1 class="align-content-center">Deployment Server Status</h1>
        </BSCol>
        <BSCol/>
    </BSRow>
    <BSRow>
        <BSCol>
            Welcome to your new app.
        </BSCol>
    </BSRow>
</BSContainer>