@page
@using MGIProjectManagerServer.Core
@model ResetPasswordConfirmationModel
@inject SimpleLoc SimpleLoc
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    @SimpleLoc["ResetPasswordConfirmation_Text", Url.Page("./Login")]
    @*Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.*@
</p>