@page
@using Microsoft.AspNetCore.Mvc.Routing
@model MGIProjectManagerServer.Areas.File.Pages.IndexModel
@{
    ViewData["Title"] = SimpleLoc["Files_Index_Title"];
}

@section Scripts
{
    <script src="js/Files/Index.js"></script>
    <script>
        filesIndexUploadLabel = "@SimpleLoc["Files_Index_Upload_Label"]" + '<br/>';

        $(document).ready(function () {
            uploadInit();
        });
    </script>
}

<div class="container">
    <div class="row justify-content-center">
        <form method="post" enctype="multipart/form-data" class="align-content-center w-50 m-5 text-center">
            <div id="fileBasket" style="background: gainsboro;height: 400px" class="text-center">
                @SimpleLoc["Files_Index_FileLabel"]
            </div>
            <br/>
            <div class="progress" id="progress">
                <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </form>
    </div>
    <div id="uploadCompledBox" class="row">
        <input class="m-1" type="checkbox" checked="checked"/>
        <span class="m-1">Auto Next</span>
        <span class="m-1">-- ID:</span>
        <span class="m-1 text-info">@Guid.NewGuid().ToString("B")</span>
        <input type="button"/>
    </div>
</div>