@page
@using MGIProjectManagerServer.Core
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject SimpleLoc SimpleLoc

<div class="text-center">
    <h1 class="display-4">@SimpleLoc["Index_Header_Welcome"]</h1>
    @SimpleLoc["Shared_Index_Content"]
    <a href="https://github.com/Tauron1990/MGI-Project-Manager/issues">MGI-Project-Manager/issues</a>
</div>
