<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Humanizer.Core" version="2.4.2" targetFramework="net471" />
  <package id="Humanizer.Core.de" version="2.4.2" targetFramework="net471" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net471" />
  <package id="NLog" version="4.5.6" targetFramework="net471" />
</packages>