header {
    margin: 1em;
}

header .mat-icon {
    width: 36px;
    height: 36px;
    font-size: 36px;
    display: inline-block;
    vertical-align: middle;
}

header h3 {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}