@layout SetupLayout
@page "/setup/step1"
@using Tauron.Application.Deployment.Server.CoreApp.Bridge
@using Tauron.Application.Deployment.Server.CoreApp.Client
@using Tauron.Application.Deployment.Server.CoreApp.Server
@using Syncfusion.EJ2.Blazor.DropDowns

@inject IServerBridge ServerBridge
@inject IErrorDelegator ErrorDelegator

<BSRow style="height: 100px">
    <BSCol/>
    <BSCol>
        <p>Legen sie fest wo die Repository Daten in zukunft gespeichert werden sollen.</p>
    </BSCol>
    <BSCol/>
</BSRow>
<BSRow style="height: 250px">
    <div class="col-md-2">
        <EjsComboBox TValue="FileModeType" Placeholder="Datei Modus" DataSource="@fileModeTypes" AllowCustom="false">
            <ComboBoxEvents TValue="ServerFileMode" ValueChange="onChange"></ComboBoxEvents>
            <ComboBoxFieldSettings Value="RealMode" Text="DisplayName"></ComboBoxFieldSettings>
        </EjsComboBox>
    </div>
    <BSCol MD="5" MDOffset="2">
        @FileModeDescription
    </BSCol>
</BSRow>
<div class="d-flex flex-row-reverse">
    <div class="p-2">
        <EjsButton CssClass="e-primary" @onclick="NextPage" Disabled="@NextDisabled">Weiter</EjsButton>
    </div>
</div>


@code {

    public class FileModeType
    {
        public ServerFileMode RealMode { get; }

        public string DisplayName { get; }

        public FileModeType(ServerFileMode realMode, string displayName)
        {
            RealMode = realMode;
            DisplayName = displayName;
        }
    }

    private readonly List<FileModeType> fileModeTypes = new List<FileModeType>
                                                        {
                                                            new FileModeType(ServerFileMode.ApplicationData, "Verzeichniss AppData"),
                                                            new FileModeType(ServerFileMode.ContentRoot, "Anwendung Root Verzeichniss")
                                                        };

    private string FileModeDescription = "Nichts Gewählt";

    private bool NextDisabled = true;

    private ServerFileMode TargetFileMode;

    private void onChange(ChangeEventArgs<ServerFileMode> args)
    {
        TargetFileMode = args.Value;

        switch (TargetFileMode)
        {
            case ServerFileMode.Unkowen:
                FileModeDescription = "Nichts Gewählt";
                NextDisabled = true;
                break;
            case ServerFileMode.ApplicationData:
                FileModeDescription = "Daten werden im AppData Verzeichniss des Benutzers Gespeichert.";
                NextDisabled = false;
                break;
            case ServerFileMode.ContentRoot:
                FileModeDescription = "Daten werden im Verzeichniss der Anwendung geschpeichert.";
                NextDisabled = false;
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }

        StateHasChanged();
    }

    private async Task NextPage()
    {
    }

}