@using MGIProjectManagerServer.Core
@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}
@inject SimpleLoc SimpleLoc

<h1>@SimpleLoc["_Layout_Account_Text_Title"]</h1>

<div>
    <h4>@SimpleLoc["_Layout_Account_Text"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
