@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@model Newtonsoft.Json.Linq.JObject

<ul>
    @foreach (var msg in Model.Property("error").Children().OfType<JProperty>())
    {
        <li class="text-danger">@msg.Value.ToString(Formatting.None)</li>
    }
</ul>