@page "/setup/step1"
@using Tauron.Application.Deployment.Server.CoreApp.Services
@inject AppSetup AppSetup
@inject NavigationManager NavigationManager;

<BSContainer IsFluid="true">
    <BSRow Class="h-25">
        <BSCol />
        <BSCol>
            <h1 class="align-content-center">Setup Assistent</h1>
        </BSCol>
        <BSCol />
    </BSRow>
    <BSRow>

    </BSRow>
</BSContainer>

@code {

}
