@layout SetupLayout
@page "/setup/step1"
@using Tauron.Application.Deployment.Server.CoreApp.Bridge
@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.DropDowns
@using Tauron.Application.Deployment.Server.CoreApp.Server

@inject IServerBridge ServerBridge

<BSRow>
    <BSCol />
    <BSCol>
        >
        <p>Legen sie fest wo die Repository Daten in zukunft gespeichert werden sollen.</p>
    </BSCol>
    <BSCol />
</BSRow>
<BSRow>
    <div class="col-md-auto">
        <EjsComboBox TValue="FileModeType" Placeholder="Datei Modus" DataSource="@fileModeTypes">
            <ComboBoxEvents TValue="ServerFileMode" ValueChange="onChange"></ComboBoxEvents>
            <ComboBoxFieldSettings Value="RealMode" Text="DisplayName"></ComboBoxFieldSettings>
        </EjsComboBox>
    </div>
</BSRow>
<BSRow>

</BSRow>
<BSRow>

</BSRow>


@code {
    public class FileModeType
    {
        public ServerFileMode RealMode { get; }

        public string DisplayName { get; }

        public FileModeType(ServerFileMode realMode, string displayName)
        {
            RealMode = realMode;
            DisplayName = displayName;
        }
    }

    private readonly List<FileModeType> fileModeTypes = new List<FileModeType>
                                               {
                                                   new FileModeType(ServerFileMode.ApplicationData, "Application Data"),
                                                   new FileModeType(ServerFileMode.ContentRoot, "Anwendung Root Verzeichniss")
                                               };

    private ServerFileMode TargetFileMode;

    private void onChange(Syncfusion.EJ2.Blazor.DropDowns.ChangeEventArgs<ServerFileMode> args)
    {

    }
}
